@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.example {
    color: $orange-100 !important
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.auto-resizable-iframe {
    max-width: 1280px;
    height: 100%;
    background-color: black;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
