@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

.example {
    color: $orange-100 !important
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.auto-resizable-iframe {
    max-width: 1280px;
    height: 100%;
    background-color: black;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 75%;
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }


  .my-list-item-stats {
    width: 30%;
    background-color: #212529;
    border: none;
    color: white;
    text-align: center;
    
}

.my-list-item-stats:hover {
    border: 0.1rem solid white;
    border-radius: 20% / 50%;

}

.my-list-item-stats:focus {
    border: 0.1rem solid white;
    border-radius: 20% / 50%;

}

@media (max-width: 650px) {
    .my-list-item-stats {
        width: 100%;
    }
    
}

.content-wrapper {
    display: flex;
    justify-content: center;
}


.index {
  width: 10%;

}

.name {
  width: 50%;
}

.episodes {
  width: 20%;
  text-align: center;
  
}

.grade {
  width: 20%;
  text-align: center;
}
